.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer-content-container {
    display: flex;
    justify-content: center;
}
.creator-links-container {
    max-width: 400px;
    min-width: 300px;
}
.creator-links-container-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%; 
    min-width: 300px;
    max-width: 650px;
    margin-bottom: 25px;
}
.created-by {
    text-align: center;
    margin-bottom: 15px;
}
.created-by-modal {
    align-self: center;
    text-align: center;
}
.created-by:hover, .created-by-modal:hover {
    color: yellow;
    text-decoration-line: underline;
}

.creator-link-icon-container {
    display: flex;
    justify-content: center;
}
.creator-link-icons {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.creator-link-icons li {
    margin-right: 15px;
}
.creator-link-icons li a {
    font-size:28px;
}
.creator-link-icons li a:hover {
    color: yellow;
}