
/* Not Used by ELs */
.colors{
  color: black;
  color: white;
  color: #f41000;
  color: grey;
  color: rgb(100, 100, 100);
  color: #fdff92;
  color: #f7b527;
  color: black;
}

* { 
  padding: 0; 
  margin: 0;
  font-family: monospace;
  color: yellow;
}
header{
  background-color: rgba(0,0,0,0.8);
}
body {
  /* background-color: rgb(104, 108, 103); */
  background-image: url("../assets/pgBg_1.jpg");
  background-repeat: no-repeat;
  background-color: rgb(218, 214, 194);
  background-size: cover; /* Resize the background image to cover the entire container */
}
canvas {
  display: block; 
  margin: 0 auto;
  border: 5px solid rgb(104, 108, 103);
  /* background-image: url("../assets/bg_4.jpg"); */
  background-repeat: no-repeat;
  background-color: rgb(160, 152, 118);
  background-size: cover;
  /* background: rgb(238, 236, 174);  */
}

button {
  border: 2px solid black;
  background-color: black;
  color: yellow;
  cursor: pointer;
}
button:hover {
  border: 2px solid yellow;
  background-color: yellow;
  color: black;
  cursor: pointer;
}

.header-container {
  display: flex;
  justify-content: center;
  width: 100%;
}  
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-container h1 {
  font-size: 75px;
  padding-bottom: 25px;
}

.game-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.top-display-content{
  display: flex;
  flex-direction: row;
  color: yellow;
  height: 50px;
  justify-content: center;
}
.top-display-content h2{
  padding-right: 10px;
  padding-top: 10px;
  font-size: 23px;
  font-weight: bolder;
}
.top-display-content button{
  font-size: 16px;
  font-weight: bold;
  /* border: 2px solid black;
  background-color: black;
  color: yellow; */
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 40px;
}

.gen-container {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.restart-button-container{
  display: flex;
  justify-content: center;
}
.restart-button-container button{
  font-size: 23px;
  font-weight: bold;
  /* border: 2px solid black;
  background-color: black;
  color: yellow; */
  padding: 10px;
  border-radius: 40px;
  width: 150px;
}

.display-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.display-content{
  display: flex;
  width: 65%;
  justify-content: space-around;
}
.settings-container{
  display: flex;
  flex-direction: column;
}


.settings-column-container {
  /* color: white; */
  display: flex;
  justify-content:center;
}
.settings-container {
  padding-top: 25px;
  display: flex;
  width: 90%;
}
.settings-container h2{
  text-align: center;
  padding-bottom: 25px;
  font-size: 25px;
}
.settings-container label {
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-size: 20px;
}
.settings-button-container{
  padding-top: 25px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  widows: 100%;
}
.settings-button-container button{
  width: 100%;
}


.slider-population-container {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  outline: none; 
  height: 5px;
  background: yellow;
  opacity: 0.7;
  -webkit-transition: .2s; 
  transition: opacity .2s;
}
.slider-pop{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px; /* Specified height */
  background: yellow; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.slider-pop:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: black; /* Green background */
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: black; /* Green background */
  cursor: pointer;
}