
* { 
  padding: 0; 
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

canvas {
  border: 5px solid white;
  background: rgb(172, 179, 165); 
  display: block; 
  margin: 0 auto;
}

body {
  background-color: rgb(104, 108, 103);
}

.header-container {
  display: flex;
  justify-content: center;

}  
.header-container h1 {
    color: white;
    font-size: 82px;
    /* padding-top: 30px; */
    padding-bottom: 30px;
}
.game-content-container {
  display: flex;
  flex-direction: column;
}
.game-controls-container{
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.game-controls-container button {
  font-size: 45px;
  border: 2px solid white;
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 40px;
}

.game-controls-container button:hover {
  background-color: white;
  color: black;  
}