
.modal-container{
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.98);
  /* background-color: rgba(0,0,0,0.1); */
}
.modal-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}
.modal-content-container {
  background-color: #616b72cd;
  margin: 5% auto; /* 15% from the top and centered */
  margin-bottom: 35px;
  margin-top: 15px;
  padding: 25px;
  border-radius: 8px;
  width: 40%; 
  min-width: 325px;
  max-width: 650px;
  display: flex;
  justify-content: center;
}
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.modal-content button{
  font-size: 25px;
  font-weight: bolder;
  border-radius: 8px;
  padding: 10px;
}
.modal-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}
.modal-description h1 {
  font-size: 40px;
  padding-bottom: 20px;
}


#contentContainer {
    width: 550px;
    height: 350px;
    border: 5px black solid;
    overflow: hidden;
    background-color: #F2F2F2;
    cursor: pointer;
}
#thing {
    z-index: 2;
    position: relative;
    left: 10px;
    top: 10px;
    /* left: 50px;
    top: 50px; */
    transition: left .5s cubic-bezier(.42,-0.3,.78,1.25), 
                top .5s cubic-bezier(.42,-0.3,.78,1.25);

  border-radius: 100%;
  padding: 20px;
  background-image: url("../assets/eye_2.gif");
  background-repeat: no-repeat;
  background-color: rgb(218, 214, 194);
  background-size: cover; /* Resize the background image to cover the entire container */
  /* opacity: 0.9; */
}
.thing {
  z-index: 2;
  position: absolute;
  margin: 0px;
  left: 10px;
  top: 10px;
  border-radius: 100%;
  padding: 30px;
  background-image: url("../assets/eye_1.gif");
  background-repeat: no-repeat;
  /* background-color: rgb(218, 214, 194); */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: 1;
}